
        h1{
            font-size : 50px;
            color: red;
            border : dashed 4px pink;
            /*dotted, dashed, solid, double, 
              groove, ridge, inset, outset, none*/
        }

        p{
            font-size: 40px;
            font-weight: bold;
            color: sandybrown;
        }

        body{
            background-color: wheat;
            color : black;
            font-size: 30px;
        }
